.card-column{
	flex-grow:1;
	min-width:288px;
	max-width:328px;

}
.flex-body .d-flex{
	flex-wrap:nowrap;
}

.card-container-all{
	margin-left:10px;
	margin-right:10px;
}

.card-day-edit:hover{
	color:white;
}
.card-day-edit, .card-day-save{
	display:block;
	margin-left:auto;
}
.recipe-link{
	display:block;
}

@media(max-width: 575.98px){
	.flex-body {
		flex-wrap:wrap;
	}

	.card-container-all{
		order:1;
		margin-left:15px;
		margin-right:15px;
	}
	.card-day{
		margin-bottom:10px;
	}
}

