.header{
	background-color:#78C2AD;
	display:flex;
	justify-content:center;
	align-items:center;
	padding-top:15px;
	padding-bottom:10px;
	margin-bottom:15px;
}

.navbar-brand{
	font-size:32px;

}
#logo-color{
	color:white;
}
.date-button{
	margin-right:10px;
}

.navbar-light .navbar-toggler{
	border-color:rgba(0,0,0,0.3);
}

@media(max-width: 575.98px){
	.date-button{
		margin-right:0;
		margin-bottom:10px;
	}
	
}
@media(min-width:575.98px) and (max-width:635px){
	button.date-button{
	padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.3rem;
	}

	.col-input input{
	height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.3rem;
	}
}
.date-input ~ .invalid-feedback{
	color:black;
}
