.card-recipe-col{
	max-width:300px;
}

.card-hidden{
	display:none;
}
.recipe-controls-container{
	width:100%;
	justify-content:center;
	text-align:center;
}
.recipe-controls{
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	
	&.btn{
		font-size:.75rem;
	}
}
