.card-recipe-col{
	max-width:300px;
}

.card-hidden{
	display:none;
}
.recipe-controls-container{
	width:100%;
	justify-content:center;
	text-align:center;
}
.recipe-controls{
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	
	&.btn{
		font-size:.75rem;
		margin-bottom:5px;
	}
}
.card-img-top{
	max-height:200px;
	max-width:300px;
}
.card-recipe{
	max-height:180px;
	max-width:300px;
}
